DATABASE_URL="postgresql://postgres:postgres@localhost:5432/thebestsarl?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/thebestsarl?schema=public"
NEXTAUTH_SECRET="change-me-in-production"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="586935575277-c7fpk6qel0h1uff6sjgv4ebf3n9ohga1.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="change-me"
ADMIN_EMAIL="admin@thebestsarl.com"

# SMTP / email applicatif
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="your-smtp-user@gmail.com"
SMTP_PASS="your-smtp-app-password"
MAIL_FROM_NAME="THEBEST SARL"
MAIL_FROM_EMAIL="no-reply@thebestsarl.com"
